/* Reset default browser styles. I probably need complete control if I'm going to make this work. */
@import url(./custom_css_reset.css);

@import url(./bellsprout.css);

/* Add some custom pixel art fonts */
@font-face {
    font-family: DefaultPixelFont;
    src: url(./assets/fonts/Able_5.ttf);
    /* Able 5 font by Stormgold. Download from itch.io at https://stormgold.itch.io/able-font */
    /* Characters are 9 pixels tall, NOT 5 */
}

@font-face {
    font-family: TinyPixelFont;
    src: url(./assets/fonts/TwoSlice.woff);
    /* TwoSlice font by Stormgold. Download from itch.io at https://stormgold.itch.io/two-slice */
}

* {
    font-family: DefaultPixelFont;
    font-size: 18px;
    /* MUST be a multiple of 9 pixels. This is the height of a character in the DefaultPixelFont */
}

h1 {
    font-size: 36px;
    /* MUST be a multiple of 9 pixels. This is the height of a character in the DefaultPixelFont */
}

main {
    background-color: #a9a9a9;
    --viewWidthRemainderTwo: mod(100vw, 2px);
    width: calc(var((100vw - var(--viewWidthRemainderTwo))) / 2px);
    --viewWidthRemainderFour: mod(100vw, 4px);
    margin: 20px calc((100vw - var(--viewWidthRemainderFour)) / 4);
    padding: 18px;
}

/* Add example CSS pixel art copied from https://css-tricks.com/fun-times-css-pixel-art/ */
.test_css_pixel_art_1 {
    background: #000;
    width: 2px;
    height: 2px;

    box-shadow:
        2px 2px red,
        4px 0px orange;
}
