
header {
    position: absolute;

    button, label.toggle_button {
        position: relative;
        top: -60px;
        vertical-align: bottom;
        --button-height: 58px;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: steps(18);

        * {
            position: absolute;
            top: unset;
            bottom: -6px;
        }


        @media (hover: hover) and (pointer: fine) {
            &:hover {
                transform: translateY(36px);
            }
        }

        @media (hover: none) or (pointer: coarse) {
            transform: translateY(36px);
        }
    }
}
