
/* Add some custom pixel art fonts */
@font-face {
    font-family: DefaultPixelFont;
    src: url(../fonts/Able_5.ttf);
    /* Able 5 font by Stormgold. Download from itch.io at https://stormgold.itch.io/able-font */
    /* Characters are 9 pixels tall when including the whitespace around them, NOT 5 */
}

@font-face {
    font-family: TinyPixelFont;
    src: url(../fonts/TwoSlice.woff);
    /* TwoSlice font by Stormgold. Download from itch.io at https://stormgold.itch.io/two-slice */
}

* {
    font-family: DefaultPixelFont;
    /* MUST be a multiple of 9 pixels. This is the height of a character in the DefaultPixelFont */
    font-size: 18px;
}

p {
    /* Add a single pixel of padding because the font for god knows what reason ends up vertically half a pixel off when at font-size 18 */
    padding-top: 1px;
    /* Add another pixel of padding to the bottom to make sure the overall div stays on the correct pixel boundaries  */
    padding-bottom: 1px;
}

h1 {
    /* MUST be a multiple of 9 pixels. This is the height of a character in the DefaultPixelFont */
    font-size: 36px;
}
