.pixel_grid {
    display: none;
}
html:has(#toggle_pixel_grid:checked) .pixel_grid {
    display: block;
}

.screenspace_pixel_grid {
    display: none;
}
html:has(#toggle_screenspace_pixel_grid:checked) .screenspace_pixel_grid {
    display: block;
}

main .bellsprout {
    display: none;
}
html:has(#toggle_bellsprout:checked) main .bellsprout {
    display: block;
}

main .spoink {
    display: none;
}
html:has(#toggle_spoink:checked) main .spoink {
    display: block;
}
