/* Reset default browser styles. I probably need complete control if I'm going to make this work. */
@import url(./custom_css_reset.css);
@import url(./pixel_fonts.css);
@import url(./pixel_art/styles.css);

html {
    position: relative;
}

main {
    background-color: #a9a9a9;
    --viewWidthRemainderFour: mod(100vw, 4px);
    width: calc((100vw - var(--viewWidthRemainderFour)) / 2px);
    --viewWidthRemainderEight: mod(100vw, 8px);
    margin: 20px calc((100vw - var(--viewWidthRemainderEight)) / 4);
    padding: 18px;

    footer {
        text-align: right;
    }
}

.pixel_grid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-size: 4px 4px;
    background-image: linear-gradient(to right, rgba(124, 124, 124, 0.8) 2px, transparent 2px), linear-gradient(to bottom, rgba(124, 124, 124, 0.8) 2px, transparent 2px);

    /* Stop eating pointer events. I need those to affect the underlying page! */
    pointer-events: none;
}

button {
    --button-width: 142px;
    --button-height: 22px;

    width: var(--button-width);
    height: var(--button-height);
    image-rendering: pixelated;
    background-color: #00000000;

    border: 8px solid;
    border-image-source: url(../images/button_border.png);
    border-image-slice: 4 fill;


    --adjusted-button-width: calc(var(--button-width) - 8px);
    --adjusted-button-height: calc(var(--button-height) - 8px);

    clip-path: shape(
        from 4px 0px,
        line by var(--adjusted-button-width) 0px,
        line by 0px 2px, line by 2px 0px, line by 0px 2px, line by 2px 0px,
        line by 0px var(--adjusted-button-height),
        line by -2px 0px, line by 0px 2px, line by -2px 0px, line by 0px 2px,
        line by calc(-1 * var(--adjusted-button-width)) 0px,
        line by 0px -2px, line by -2px 0px, line by 0px -2px, line by -2px 0px,
        line by 0px calc(-1 * var(--adjusted-button-height)),
        line by 2px 0px, line by 0px -2px, line by 2px 0px, line by 0px -2px,
        close
    );

    &:hover {
        border-image-source: url(../images/button_border_hovered.png);
    }

    /* Element exists purely to pre-fetch the hovered background image to avoid flickering when first hovering over the button */
    &:before{
        content: '';
        width: 0;
        height: 0;
        background-image: url(../images/button_border_hovered.png);
    }

    * {
        position: relative;
        top: -9px;
        left: -8px;
        padding-left: 6px;
        text-align: left;

        width: var(--button-width);
        height: var(--button-height);
    }
}

header {
    position: absolute;

    button {
        position: relative;
        top: 0px;
        vertical-align: top;
    }
}
