/* Reset default browser styles. I probably need complete control if I'm going to make this work. */
@import url(./custom_css_reset.css);
@import url(./pixel_fonts.css);
@import url(./pixel_art/styles.css);

html {
    position: relative;
}

main {
    background-color: #a9a9a9;
    --viewWidthRemainderFour: mod(100vw, 4px);
    width: calc(var((100vw - var(--viewWidthRemainderFour))) / 2px);
    --viewWidthRemainderEight: mod(100vw, 8px);
    margin: 20px calc((100vw - var(--viewWidthRemainderEight)) / 4);
    padding: 18px;
}

.pixel_grid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-size: 4px 4px;
    background-image: linear-gradient(to right, rgba(124, 124, 124, 0.8) 2px, transparent 2px), linear-gradient(to bottom, rgba(124, 124, 124, 0.8) 2px, transparent 2px);

    /* Stop eating pointer events. I need those to affect the underlying page! */
    pointer-events: none;
}

button {
    width: 200px;
    height: 32px;
    image-rendering: pixelated;
    background-color: #00000000;
    background-size: 200px 32px;
}

button:hover {
    background-image: url(../images/button_hovered.png);
}
/* Element exists purely to pre-fetch the hovered background image to avoid flickering when first hovering over the button */
button:before{
    content: '';
    width: 0;
    height: 0;
    background-image: url(../images/button_hovered.png);
}

/* This is at the bottom because the multiline string breaks vscode's syntax highlighting for all following lines */
button {
    background-image: url(../images/button.png);

    clip-path: path("M4 0 \
    l192 0 \
    l0 2 l2 0 l0 2 l2 0 \
    l0 24 \
    l-2 0 l0 2 l-2 0 l0 2 \
    l-192 0 \
    l0 -2 l-2 0 l0 -2 l-2 0 \
    l0 -24 \
    l2 0 l0 -2 l2 0 l0 -2 \
    Z");
}
