/* Reset default browser styles. I probably need complete control if I'm going to make this work. */
@import url(./custom_css_reset.css);
@import url(./pixel_fonts.css);
@import url(./pixel_art/styles.css);
@import url(./toggle_button.css);
@import url(./pixel_button.css);
@import url(./header.css);
@import url(./pixel_grid.css);
@import url(./show_hide_elements.css);

html {
    position: relative;
}

main {
    background-color: #a9a9a9;
    --viewWidthRemainderFour: mod(100vw, 4px);
    width: calc((100vw - var(--viewWidthRemainderFour)) / 2px);
    --viewWidthRemainderEight: mod(100vw, 8px);
    margin: 20px calc((100vw - var(--viewWidthRemainderEight)) / 4);
    padding: 18px;

    footer {
        text-align: right;
    }
}
